.jumbotron h1 {
	color: #D3D5D7;
	margin-top: 0;
}
.jumbotron p {
	font-size: 16px;
	margin: 10px;
}
.panel {
	background-color: #98B05E;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}
.mainNumber {
	font-size: 24px;
}
.jumbotron {
	margin-bottom: 15px;
	margin-top: 25px;
	padding: 40px;
	background-color: #5D666D;
	border-color: #98B05E;
	border-style: solid;
	border-width: 1px;
}
.wins, .losses {
	margin-top: 20px;
	font-size: 20px;
}
body{
	background-color: gray;
}